.box {
  background-color: white;
  position: absolute;
  width: calc(550px - 24px - 24px);
  height: calc(550px - 32px - 32px);
  right: 34px;
  bottom: 110px;
  border-radius: 5px;
  padding: 24px 32px;
  font-family: "Lato", sans-serif;
}
