.mainDivider {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.mainDivider p {
  min-width: 130px;
  font-size: small;
  text-align: center;
  color: #eb5757;
}

.divider {
  width: calc(100% / 2);
  height: 0;
  border-top: 1px solid #eb5757;
}
